*{
    margin: 0;
    padding: 0;
    left: 0;
}
.container{
    height: 100vh;
    width: 100%;
}
.menu{
height: 100%;
width: 250px;
background-color: black;
position: fixed;
display: flex;
flex-direction: column;
justify-content: space-around;
color: white;
align-items: center;

}

.menu ul li{
    display: flex;
    flex-direction: row;
    gap: 1em;
    justify-content: space-between;

    align-items: center;
    
}
.menu li{
    text-align: left;

}